body {
    background-image: url(https://images.unsplash.com/photo-1542309174-2d0c02b8ff07?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80);
    background-color: rgb(16, 27, 9);
    background-blend-mode: luminosity;
} 

body{
    margin: 0px;
}
header {
    border: outset 20px red;
    margin: 5px;
    color: white;
}

h1{
    text-align: center;
}

nav ul li{
    list-style-type: none;
    text-align: center;
    /* display: flex; */
    display: inline;
    
}

img{
    width: 700px;
}

#start{
    background-color: rgb(163, 212, 235);
}


img section 
{
    background-color: blueviolet;
    display: inline;
}
